body {
    font-family: helvetica;   
}

.img{
    background-image: url(../images/318675.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px; 
}

.search-wrapper{
    /* display: flex; */
    width: 100%;
    height:300px;
    padding-bottom: 1rem;
    /* justify-content: center; */
    /* align-items: center; */
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 5px 5px 3px 2px rgba(202, 102, 102, 0.1);
    padding: 10px;
    margin-bottom: 200px;
    margin-left: 100px;
}

.search-wrapper:hover {
    background-color:transparent;
}

#header {
    background-color:#F16F51;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

h1 {
    vertical-align: middle;
    color: white;
    font-weight: bold;
}

input, select{
    border-radius: 4px;
    border: 1px solid #bbb;
    height: 25px;
    letter-spacing: .1rem;
    width: 30%;
    margin-top: 5px;
}
select{
    width: auto;
    height: 28px;
}

.text{
    /* border: 2px solid green; */
    height:400px;
    width: 40%;
}    


.row {
    margin: 10px 10px;

}

#results {
    margin: 30px 20px 10px 0px;    
}

#result-container{
    width: 80vw;
    margin: 10px auto;
    /* border: 3px solid blue; */
    
    
}


.person-row {
    margin: 10px;
    
    background-color: #FDB45C;
    width: 100%;
    /* float: left; */
    /* border: 3px solid brown; */
    /* justify-content: center; */
    /* text-align: center; */
    /* display: flex; */
    box-shadow: 5px 5px 3px 2px rgba(196, 102, 102, 0.336);
   
    
}

.person-row img {
    float: center;
    margin-right: 20px;    
}

/* .personal-info {
    
} */

.person-row > button:hover{
    box-shadow: 0 3px 10px rgba(251, 44, 116, 0.5);
 }

#searchBtn{
    cursor: pointer;
    margin-top: 15px;
    background-color: transparent;
    border: #fb2d75;
}

#searchBtn .fa{
    color: #fb2d75;
}
#searchBtn:hover{
    box-shadow: 0 3px 10px rgba(251, 44, 116, 0.5);
    background-color: none;
}

/* .person-row > button {
   float: right; 
} */